#git ignore file
**__pycache__**
**.venv**
**.vscode**

#実行ファイル生成時の一時フォルダと生成先のフォルダ
**build** 
**dist**

**立ち絵**
**diary**
**tests**
**user_logs**
Character_setting.txt
config.json
client_secret.json
oauth_token.json
application.log
